html,
body {
  height: 100%;
  /* Asegura que el body ocupe toda la altura de la ventana */
  margin: 0;
  /* Elimina márgenes por defecto */
}

body {
  background-image: url("./alexander-sinn-YYUM2sNvnvU-unsplash.jpg");
  background-color: rgb(90, 84, 187);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  /* Organiza el contenido en una columna */
}

main {
  display: block;
  flex: 1;
  /* Permite que main ocupe todo el espacio disponible */
  margin: 5px;
}

h1 {
  background-color: rgb(90, 84, 187);
  color: black;
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
}

#binario {
  display: block;
}

#convert-button {
  display: block;
  margin-bottom: 10px;
}

p {
  background-color: rgb(90, 84, 187);
  color: black;
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

footer {
  background-color: rgb(90, 84, 187);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section {
  background-color: rgb(90, 84, 187);
  color: black;
  display: inline-block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.divisa {
  flex: 1;
  /* Cada hijo ocupa igual espacio */
  margin: 5px;
  float: left;
  flex-basis: 100px;
  flex-grow: 1;
}

.divisa h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.binario {
  flex: 1;
  /* Cada hijo ocupa igual espacio */
  margin: 5px;
}

.binary-b {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.fin {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  position: relative;
  background-color: rgb(90, 84, 187);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.borrar {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Estilos para dispositivos móviles (por ejemplo, smartphones) */
@media (max-width: 767px) {
  .responsive {
    display: flex;
    /* Activa el modelo Flexbox */
    justify-content: space-between;
  }

  .binario {
    flex: 1;
    /* Cada hijo ocupa igual espacio */
    margin: 5px;
  }

  .divisa {
    display: block;
    flex: 1;
    /* Cada hijo ocupa igual espacio */
    margin: 5px;
  }

  form {
    margin: 0 auto;
  }

}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .responsive {
    display: flex;
    /* Activa el modelo Flexbox */
    justify-content: space-between;
  }

  .binario {
    flex: 1;
    /* Cada hijo ocupa igual espacio */
    margin: 5px;
  }

  .divisa {
    float: left;
    flex: 1;
    /* Cada hijo ocupa igual espacio */
    margin: 5px;
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    display: flex;
    position: relative;
    left: 40%;
  }

}

/* Estilos para computadoras portátiles y PC de escritorio */
@media (min-width: 1024px) {
  .responsive {
    display: block;
  }
  h1 {
    background-color: rgb(90, 84, 187);
    color: black;
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
  }

  #convert-button {
    display: block;
    margin-bottom: 10px;
  }

  p {
    background-color: rgb(90, 84, 187);
    color: black;
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  footer {
    background-color: rgb(90, 84, 187);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70px;
  }


  section {
    background-color: rgb(90, 84, 187);
    color: black;
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .divisa {
    float: left;
    flex: 1;
    /* Cada hijo ocupa igual espacio */
    margin: 5px;
  }

  .binario {
    flex: 1;
    /* Cada hijo ocupa igual espacio */
    margin: 5px;
  }

  .binary-b {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }

  .fin {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  a {
    position: relative;
    background-color: rgb(90, 84, 187);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}

/* Estilos para PC grandes o monitores de alta resolución */
@media (min-width: 1200px) {
  h1 {
    background-color: rgb(90, 84, 187);
    color: black;
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
  }

  #binario {
    display: block;
  }

  #convert-button {
    display: block;
    margin-bottom: 10px;
  }

  p {
    background-color: rgb(90, 84, 187);
    color: black;
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  footer {
    background-color: rgb(90, 84, 187);
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    height: 70px;
  }

  section {
    background-color: rgb(90, 84, 187);
    color: black;
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .divisa {
    float: left;
    flex: 1;
    /* Cada hijo ocupa igual espacio */
    margin: 5px;
  }

  .binario {
    flex: 1;
    /* Cada hijo ocupa igual espacio */
    margin: 5px;
  }

  .binary-b {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }

  .fin {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  a {
    position: relative;
    background-color: rgb(90, 84, 187);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
}